

    <body>    
        <br>
        <div class="jumbotron">
                <div class="container" style="text-align: center;">
                <h1><%= @exhibit.name%></h1>
            </div>
        </div>

        <div class="container" style="text-align: center;">
            <div class="row">
                <div class="col-sm-4">
                    <img src="https://github.com/SusanLiiii/Museum_Map/blob/main/app/assets/images/watch%20avatar.png?raw=true" class="img-responsive" alt="Responsive image" style="height: 200px;">
                </div>
                <div class="col-sm-8">
                    <p style="font-size: large;">Come and Meet My Friend!</p>
                    <p style="font-size: medium; color:black">Born: <%= @exhibit.born%></p>
                    <p style="font-size: large; color:black">Age: <%= @exhibit.age%></p>
                    <p style="font-size: large; color:black">Parent: <%= @exhibit.parent%></p>
                    <p style="font-size: large; color:black">Honor: <%= @exhibit.honor%></p>
                    <p style="font-size: large; color:black"><%= @exhibit.intro%></p>
                </div>
            </div>
        </div>
        <br>
        
        <% if @exhibit.treasure%>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <p style="font-size: large; color: green">Congratulations! You have just found a magic egg!</p>
                </div>
            </div>
        </div>
        <% if !logged_in?%>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <p style="font-size: large; color: red"><%= link_to "Subscribe", user_login_path%> now to get the egg!</p>
                </div>
            </div>
        </div>
        <% end%>
        <%end %>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <a href="https://charles-river-museum.webflow.io/">Back to the map</a>
                </div>
            </div>
    </body>