<p style="color: green"><%= notice %></p>

<%= render @exhibit %>

<div>
  <%= link_to "Edit this exhibit", edit_exhibit_path(@exhibit) %> |
  <%= link_to "Back to exhibits", exhibits_path %>

  <%= button_to "Destroy this exhibit", @exhibit, method: :delete %>
</div>
